extends layout.pug 

block content 
    div.container
        h1 Create Blog 

        if error
            p.error Some Error occured! Try again! 

        if success 
            p.success Blog is created!
        form.form(action="/create" method="POST")
            label Title
            input.input(type="text" name='title')
            
            label Description
            textarea.input(type="text" name='description')

            button.btn-form Create Blog 